$yellow: #7e6e1c;
$purple: #351c80;
$blue: #3480eb;
$bodyFont: 'Roboto Slab', sans-serif;

html {
  background: linear-gradient(90deg, $yellow 40%, $purple 60%);
}

.main-view {
  background: linear-gradient(90deg, $yellow 40%, $purple 60%);
}

.username-button {
  margin-left: 90%;
}