$yellow: #7e6e1c;
$purple: #351c80;
$blue: #3480eb;
$bodyFont: 'Roboto Slab', sans-serif;

html {
  background: linear-gradient(90deg, $yellow 40%, $purple 60%);
}

.genre-view {
  font-family: $bodyFont;
}

.genre-name {
  margin-top: 10px;
}

.label {
  color: white;
}

.value{
  color: white;
}

.back-button {
  margin-top: 10px;
  background-color: $blue;
  color: white;
  transition-duration: 0.4s;
}

.back-button:hover {
  background-color: white;
  color: $blue;
}